In [1]:
import pymysql
pymysql.install_as_MySQLdb()
import MySQLdb
import pymysql
import MySQLdb
import csv

In [2]:
conn = MySQLdb.connect(host='www.plantabee.tk',
                             user='root',
                             password='Plantabee@monash',
                             db='plantabee')

In [3]:
cursor = conn.cursor()

In [4]:
dlist = []
with open("Victoria_plants.csv", encoding='utf-8') as f:
    data = csv.reader(f)
    for row in data:
        dlist.append(row)

In [8]:
#query = """INSERT INTO victorian_plants(Scientific_Name_Original,Common_name,Scientific_Name,Latitude,Longitude,rowid) VALUES (%s, %s, %s, %s,%s, %s)"""

query = """INSERT INTO victorian_plants_location(Scientific_Name_Original,Common_name,Scientific_Name,Taxon_Rank,Kingdom,Phylum,Class,Family,Genus,Species,Latitude,Longitude,Country,State,Year,Event_Date,month,day,rowid,Suburbs,Postcode) VALUES (%s, %s, %s, %s,%s, %s, %s, %s, %s, %s,%s, %s,%s, %s, %s, %s,%s, %s,%s,%s,%s)"""

In [9]:
cursor.execute("""TRUNCATE TABLE victorian_plants_location""")

for i in range(1, len(dlist)):
    Scientific_Name_Original = dlist[i][0]
    Common_name = dlist[i][1]
    Scientific_Name = dlist[i][2]
    Taxon_Rank = dlist[i][3]
    Kingdom = dlist[i][4]
    Phylum = dlist[i][5]
    Class = dlist[i][6]
    Family = dlist[i][7]
    Genus = dlist[i][8]
    Species = dlist[i][9]
    Latitude = dlist[i][10]
    Longitude = dlist[i][11]
    Country = dlist[i][12]
    State = dlist[i][13]
    Year = dlist[i][14]
    Event_Date = dlist[i][15]
    month = dlist[i][16]
    day = dlist[i][17]
    rowid = dlist[i][18]
    Suburbs = dlist[i][19]
    Postcode = dlist[i][20]
    
    values = (Scientific_Name_Original,Common_name,Scientific_Name,Taxon_Rank,Kingdom,Phylum,Class,Family,Genus,Species,Latitude,Longitude,Country,State,Year,Event_Date,month,day,rowid,Suburbs,Postcode)
    
    cursor.execute(query, values)
    
cursor.close()

conn.commit()

In [10]:
del dlist[0]

In [11]:
print("Total" + " " + str(len(dlist[0])) + " columns and " + str(len(dlist))+ " rows were imported successfully")

Total 21 columns and 7670 rows were imported successfully